<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
    <div class="container">
        <form class="createform" method="post" action="/newnote/<%=dir_name%>">
            <input type="text" name="title" class="gen" placeholder="Title Goes Here ... ">
            <textarea name="details" name="details" class="gen" value="no data" placeholder="Add details Here ">Add Data</textarea>
            <button class="gen">Submit</button>
            </form>

    </div>
</body>
</html>