<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>

    <div class="container">
        <form action="/createuser" method="post">
        <h3>Register</h3>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="email" placeholder="Email" name="email">
            <input type="number" placeholder="Contact" name="contact">
            <input type="submit" value="Submit" id="submit">

        </form>
    </div>
    
</body>
</html>