<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/renamestyle.css">
</head>
<body>
    <div class="container">
        <form action="/renaming/<%= dir_name%>/<%=file%>" method="post">
            <h3>Rename your file to</h3>
            <input type="text" name="newpath" value="<%=file%>">
            <button>Reset</button>
        </form>
    </div>
</body>
</html>